.tools/
**/node_modules/
**/.next/
**/.env
**/.env.*
**/.env.local
**/.env.*.local
**/target/
**/out/
**/cache/
**/broadcast/
**/.envio/
**/generated/
**/*.tsbuildinfo
**/*.sqlite*
**/*.db*
**/*.redb*
**/data/
**/coverage/
!**/.env.example
